<div class="container"> 
  <div class="panel panel-default">
     <div class="panel-heading">Add new books</div>
     <div class="panel-body">
       <form [formGroup]="bookForm" (ngSubmit)="onFormApplicationSubmit()">
          <div class="form-group">
            <label>Book Name</label>
            <input type="text" class="form-control" formControlName="book_name">
          </div>
          <div class="form-group">
            <label>Book Writer</label>
            <input type="text" class="form-control" formControlName="book_writer">
          </div>
          <div class="form-group">
            <label>Book Publisher</label>
            <input type="text" class="form-control" formControlName="book_publisher">
          </div>
          <div class="form-group">
            <label>Book Description</label>
            <input type="text" class="form-control" formControlName="book_description">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-danger">Cancel</button>
          </div>
       </form>
     </div>
   </div>
 </div>
